:root {
    --orange: #f9804b;
    --orange-dark: #E47209;
    --green: #4b9200;
}

body {
    width: 100vw;
    height: 100%;
    background-color: #fff;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: normal;
    overflow-x: hidden;
}



::-webkit-scrollbar { 
    display: none; 
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

*,
*:before,
*:after  {
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    padding: 0;
    list-style-type: none;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;

}

.body__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    z-index: -1;
    transition: 0.4s linear;
}

.body__wrapper-active {
    opacity: 0.6;
    z-index: 500;
}

header {
    background-color: black;
}

.wrapper {
    width: 72.5%;
    margin: 0 auto;
}

.header__inner {
    position: relative;
    display: flex;
    padding: 14px 0;
    align-items: center;

    color: #fff;
}

.header__logo {
    display: block;
    text-align: center;
    padding: 3px 3px;
    border: 1px solid #fff;
}

.logo__title {
    width: min-content;
    color: #fff;
    font-size: 1.1875rem;
    line-height: 1.42625rem;
    letter-spacing: normal;
    font-weight: 400;
    position: relative;
    text-align: center;
}

.logo__title::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 20px;
    background: url(../../assets/icons/bamboo.svg) center center/ contain no-repeat;
    width: 12px;
    height: 21px;
}

.header__nav {
    width: 100%;
    margin-left: 5.43%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    width: 100%;
    display: flex;
    align-items: center;
}

.nav__list__item__link {
    display: inline-block;
    width: 100%;
    margin-right: 58px;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    transition: color 0.25s linear;
}


.nav__list__item-active .nav__list__item__link {
    cursor: inherit;
    color: var(--orange);
}

.header__nav-footer .nav__list__item__link {
    font-weight: 400;
}

.nav__list__item__link:hover {
    color: var(--orange);
}

.nav__list:last-child {
    margin-right: 0px;
}

.designed__link {
    display: block;
    width: max-content;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.25s linear;
}

.designed__link:hover {
    color: var(--orange);
}

.burger {
    display: none;
    height: 10px;
    width: 18px;
    transform: translateY(0);
}

.burger__item {
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    transition: 0.2s ease-out;
}

.burger .burger__item:first-child {
    transform: rotate(0);
}

.burger .burger__item:nth-child(2) {
    transform: rotate(0);
}

.burger .burger__item:last-child {
    transform: rotate(0) ;
}

.burger-active {
    transform: translateY(3px);
    justify-content: center;
}

.burger-active .burger__item:first-child {
    transform: rotate(45deg);
}

.burger-active .burger__item:nth-child(2) {
    transform: rotate(-45deg);
}

.burger-active .burger__item:last-child {
    transform: rotate(-45deg);
}


/* _____________HEADER END ________________ */

/* _____________MAIN START ________________ */

.header__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../../assets/images/panda-big.jpg) center center / cover no-repeat;
}

/* .main__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}  */

.main__title {
    text-align: -webkit-right;
    margin-top: 86px;
    padding: 0 9px;
    position: relative;
}

.lined-text {
   width: max-content;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.lined-text::after {
    content: "";
    position: absolute;
    top: -74px;
    right: 108px;
    height: 465px;
    width: 465px;
    border-radius: 50%;
    background: linear-gradient(90deg, #f9804b 100%, #fe9013 100%);
}

.lined-text__word {
    color: #fff;
    font-size: 6.66rem;
    line-height: 4.99rem;
    font-weight: 700;
    z-index: 3;
}

.lined-text__word-yellow {
    color: #ffee2e;
}

.main__button {
    text-align: end;
    margin-right: 8.5%;
}

#main__button-width320px {
    display: none;
}

.button {
    position: relative;
    margin: 60px 0 100px 0;
    padding: 16px 92px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    line-height: 22.4px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(113.96deg, var(--orange) 1.49%, #fe9013 101.43%);
    transition: 0.25s linear;
    z-index: 1;
}

.button:hover{
    cursor: pointer;
}

.button::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    opacity: 0;
    transition: 0.3s;
}

.button:hover::before{
    background: var(--orange-dark);
    cursor: pointer;
    opacity: 1;
}

.button:active::before{
    background: var(--green);
}

/* ____________MAIN END_____________  */


/*_____________WORLD START__________  */

.world {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: 139px;
    margin-bottom: 173px;
}

.world__inner {
    width: 100%;
    display: flex
}

.world__image {
    width: 100%;
    min-width: 52.5%;
    height: 403px;
    background: url("../../assets/images/bamboo-cap.jpg") center center / contain no-repeat;
    margin-right: 7.5%;
}

.world__info {
    width: 40%;
    display: flex;
    align-items: center;
}

.world__text {
    width: 465px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    color: #333b41;
}

.info__title {
    margin-top: 3px;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.info__text {
    margin-bottom: 54px;
    font-weight: 400;
    line-height: 1.3rem;
}

.info__subtitle {

    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 34px;
}

.info__text-second {
    margin-bottom: 0;
    line-height: 1.4rem;
}

.world__info-pic {
    width: 18.8%;
    height: 603px;
    background: url(../../assets/images/flower_img-1.jpg) center center / contain no-repeat;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(94px, -330px);
}

/* ________WORLD END ___________ */

/* ________ANIMALS START ___________ */

.animals {
    position: relative;
    width: 100%;
}

.animals__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.animal__slider {
    width: 100%;
    position: relative;
    height: 1000px;
    overflow: hidden;
}

.animals__slider__list {
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    /* justify-content: left; */
    transition: transform 0.4s ease-out;
}

.animals__cards {
    /* position: relative; */
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 25px;
    column-gap: 30px;
    
}

.animal__card {
    width: 31.55%;
    min-width: 285px;
    /* max-width: 310px; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* margin-right: 30px;
    margin-bottom: 25px; */
    border: 1px solid var(--orange);
    border-radius: 5px;
}

/* .animal__card:nth-child(n+4) {
    margin-bottom: 0px;
}

.animal__card:nth-child(3n) {
    margin-right: 0px;
} */

.animal__card-photo {
    width: 100%;
    height: 366px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}


.card-photo {
    transition: 0.3s linear;
}

.animal__card:hover .animal__card-photo .card-photo{
    transform: scale(1.0273);
}

.card__active {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E0D8F0;
    transform: translateX(0);
    width: 100%;
    height: 110%;
    background: rgba(0, 0, 0, 0.75);
    transition: 0.1s linear;
}

.animal__card:hover .animal__card-photo .card__active {
    transform: translateY(-100%);
}

.animal__card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 8px 10px 8px 16px;
}

.animal__card-name {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.animal__card-country {
    font-weight: 300;
    font-size: 15px;
}

.animals__button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    background: var(--orange);
    border: none;
    border-radius: 50%;
    transition: 0.25s linear;
}

.animals__button:hover {
    cursor: pointer;
    background: var(--orange-dark);
}

.animals__button:active {
    background: var(--green);
}

.animals__button-left {
    top: 35%;
    left: -20px;
    transform: translate(-100%, -50%);
}

.animals__button-right {
    top: 35%;
    right: -20px;
    transform: translate(100%, -50%);
}

.button__arrow-right {
    transform: rotate(180deg);
}

.button-animals {
    width: 298px;
   padding: 16px 0;
    margin: 83px 0 100px 0;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -0.5px;
}

.animals__image-palma {
    width: 18.25%;
    height: 460px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: url(../../assets/images/palm_foto.jpg) center bottom / contain no-repeat;
}

.animals__image-strelitsia {
    width: 23%;
    height: 275px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: url(../../assets/images/strelitzia.jpg) center bottom / contain no-repeat;
}

/*_________________ ANIMAKS END _________________ */

/*_________________ PAYMENT START  _________________ */
.payment {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;

    padding-top: 69px;
    padding-bottom: 100px;
}

.payment__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
}

.payment__description {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.description__title {
    margin-top: 43px;
    margin-bottom: 30px;
    font-size: 3rem;
    color: #fe9013;
    font-weight: 400;
}

.description__text {
    margin-left: 7.67%;
    margin-bottom: 2px;
}

.payment__subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    color: #333b41;
    margin-bottom: 40px;
}

.payment__text {
    color: #333b41;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3rem;
}


.payment__text-link {
    color: #333b41;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3rem;
    text-decoration: underline;
}

.payment__text--thick {
    font-weight: 500;
    margin-bottom: 10px;
}

.payment__text-pp-1600px {
    max-width: 83%;
}

.payment-process {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65.86%;
}

.process__title {
    font-size: 2.25rem;
    font-weight: 400;
    color: #333b41;
    margin-bottom: 40px;
}
.payment__steps {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.payment__step {
    display: flex;
    width: 168px;
    flex-direction: column;
    align-items: flex-start;
}

.payment__step-image {
    position: relative;
    width: 100%;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid orange;
    border-radius: 5px;
    margin-bottom: 30px;
    background-color: #fff;
}

.payment__step-text {
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 400;
    color: #333b41;
}

.payment__button {
    width: 292px;
    padding: 16px 0;
    margin: 62px 0 59px 0;
}

.payment__step--arrow::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translate(100%, -69%);
    width: 69px;
    height: 35.08px;
    background: url(../../assets/icons/arrow.svg) center center/ contain no-repeat;

}

/* ____________PAYMENT END_____________ */

/* ____________TESTI START_____________ */

.testi {
    position: relative;
    overflow: hidden;
}

.testi__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
}

.testi__title {
    font-size: 2.25rem;
    font-weight: 400;
    color: #333b41;
    line-height: 2.925rem;
    margin-bottom: 47px;
}

.review__list-slider {
    width: 100%;
    overflow-x: hidden;
}

.review__list {
    width: 100%;
    display: flex;
    column-gap: 29px;
    transition: 0.5s linear;
}

.review__item {
    max-width: 268px;
    min-width: 268px;
    height: 392px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px 2px;
    border-radius: 20px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%)
}

.review__item {
    cursor: pointer;
} 

.review__item__inner {
    height: 100%;
    padding: 11px 15px 19px 16px;
    border-radius: 18px;
    background-color: #f1f3f2;
}

.review__item--header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 11px;
}

.review__item--icon {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin-right: 10px;
}

.review__item--icon--first {
    background: url(../../assets/icons/person-icon.svg) center center/  contain no-repeat;
}

.review__item--icon--second {
    background: url(../../assets/icons/person-icon2.jpg) center center/  contain no-repeat;
}
.review__item--icon--third {
    background: url(../../assets/icons/person-icon3.jpg) center center/  contain no-repeat;
}

.review__item--icon--four {
    background: url(../../assets/icons/person-icon4.jpg) center center/  contain no-repeat;
}

.person__name {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
    color: #000;
}

.person__location {
    font-size: 15px;
    color: #bdbdbd;
    font-weight: 300;
    line-height: 1.125rem;
}

.review__item--text {
    display: -webkit-box;
    -webkit-line-clamp: 17;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: hidden;
    font-size: 15px;
    color: #767474;
    font-weight: 300;
    line-height: 1.125rem;
}

.testi__bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 21px 0 31px 0;
    width: 51.64%;
    height: 8px;
    border-width: 0.5px;
    border-color: #fe9013;
    border-style: solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);;
    border-radius: 5px;

}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 115px;
    height: 6px;
    border-radius: 5px;
    background-color: var(--orange);
    transition: 0.2s linear;
}

input::-webkit-slider-thumb:hover {
    cursor: pointer;
    background-color: var(--orange-dark);
}

.testi__button {
    padding: 16px 85px;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 178px;
}

.testi__image {
    position: absolute;
    bottom: -135px;
    right: 0;
    z-index: -1;
}

.footer {
    height: 100%;
    background-color: black;
}

.footer__cap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 36px;
}

.subscribe {
    transform: translateX(5px);
}

.subscribe__title {
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 14px;
}

.input-email {
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 400;
    color: #bdbdbd;
    width: 228px;
    padding: 10px 7px 10px 10px;
    margin-right: 10px;
    background-color: black;
    border-radius: 3px;
    border-style: none;
    border: 1px solid var(--orange);
}

.input-email:invalid {
    border: 1px #d31414  solid;
}


.input-email::placeholder {
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 400;
    color: #bdbdbd;
}

.subscribe__button {
    padding: 10px 39px;
    border: 1px solid #333b41;
    border-radius: 5px;
    background-color: #f1f3f2;
    color: #000;
    transition: 0.3s linear;
}

.subscribe__button:hover {
    border-color: var(--green);
}

.subscribe__button:hover{
    color: var(--green);
}

.footer__button {
    padding: 16px 50px;
    margin-top: -3px;
    margin-bottom: 44px;
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
    border-radius: 5px;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 50px;
}

.social__item {
    margin-bottom: 10px;
    transition: 0.3s linear;
}

.social__list {
    margin: 0;
}

.social__item:last-child {
    margin-bottom: 0;
}

.social__item-link {
    display: flex;
    align-items: center;
    color: #fff;
    transition: 0.3s linear;
}

.social__item:hover .social__item-link {
    color: var(--green);
}

.social__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.5);
    margin-right: 12px;
    transition: 0.3s linear;
}

.social__list-active360px {
    display: none;
}

.social__item:hover .social__icon {
    background: var(--green);
}

.header__nav-footer {
    width: auto;
    margin-top: -4px;
    margin-left: 173px;
}

.header__nav-footer .nav__list {
    margin: 0;
}

.footer__disign-info {
    width: max-content;
}

.design-text {
    width: max-content;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.3rem;
    color: rgba(255, 255, 255, 0.5);
}

.design-text-top {
    margin-bottom: 10px;
}

#navwidth320px {
    display: none;
}

@media(max-width: 1240px) {

    header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }
    
    .wrapper {
        width: 94%;
    }

    .header__inner {
        padding: 13px 0;
    }

    .header__nav-header {
        margin-left: 7%;
    }
    .header__nav-header .nav__list__item__link {
        margin-right: 48px;
    }

    .main {
        padding-top: 80px;
    }

    .main__inner {
        padding-right: 6%;
    }

    .main__title {
        margin-top: 43px;
        /* margin-right: 6%; */
    }

    .lined-text__word {
        font-size: 5.3125rem;
        line-height: 4rem;
    }

    .lined-text::after {
        height: 367px;
        width: 367px;
        top: -54px;
        right: 91px;
        z-index: 1;
    }

    .main__button {
        margin-right: 5.7%;
    }

    .main__button .button {
        margin: 40px 0 47px 0;
    }


    .world {
        margin-top: 109px;
        margin-bottom: 142px;
    }


    .world__image {
        min-width:auto;
        width: 48.38%;
        margin-right: 3%;
        height: 409px;
        background-size: cover;
    }

    .world__info {
        width: 48.29%;
    }

    .world__text {
        margin-right: 0;
    }

    .world__info-pic {
        display: none;
    }

    .info__title {
        margin-top: -9px;
        line-height: 3.6rem;
    }

    .animals__cards {
        row-gap: 92px;
        column-gap: 29px;
    }

    .animal__card {
        width: 31.27%;
        /* margin-right: 29px;
        margin-bottom: 92px; */
    }

    .animal__card-photo {
        height: 294px;
    }

    .card-photo {
        width: 100%;
        height: 100%;
    }

    .animal__card__footer {
        padding: 8px 10px 12px 16px
    }

    .animals__button-left {
        top: 31.5%;
        left: 385px;
    } 
    .animals__button-right {
        top: 31.5%;
        right: 384px;
    }

    .button-animals {
        margin: 80px 0 140px 0 ;
    }

    .animals__image-palma {
        width: 19.4%;
        background: url(../../assets/images/palm_foto_1000px.jpg) center bottom / contain no-repeat;
    }

    .animals__image-strelitsia {
        width: 24.1%;
        min-height: 180px;
    }


    .payment {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .description__title {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .payment__subtitle {
        margin-bottom: 20px;
    }

    .description__text {
        margin-left: 5.21%;
    }

    .payment__text {
        margin-right: 9%;
    }

    .payment__text-pp-1600px {
        max-width: none;
    }
    .payment-process {
        width: 100%;
        margin-top: 40px;
    }

    .process__title {
        margin-bottom: 42px;
    }

    .payment__steps {
        justify-content: space-around
    } 

    .payment__step {
        margin-right: -46px;
    }

    .payment__step:last-child{
        margin-right: 0;
    }

    .payment__button {
        margin: 71px 0 50px 0;
        width: 298px;
    }


    .testi__inner {
        margin-top: 100px;
    }

    .testi__title {
        margin-bottom: 30px;

    }

    .review__item {
        min-width: 294px;
        height: 391px;
    } 

    .review__item__inner {
        padding: 11px 15px 19px 16px;
    }

    .testi__bar {
        margin-top: 20px;
        margin-bottom: 52px;
    }

    input::-webkit-slider-thumb {
        width: 12.25%;
    }

    .testi__button {
        margin: 0 0 140px 0;
    }

    .testi__image {
        width: 20%;
        bottom: -90px;
    }
    .footer__button {
        margin: 0 0 44px 0;
    } 

    .subscribe {
        margin-right: 3%;
        transform: none;
    }

    .footer__cap {
        padding-bottom: 33px;
    }

    .header__nav-footer {
        margin-left: 142px;
    }

    .header__nav-footer .nav__list .nav__list__item .nav__list__item__link {
        margin-right: 49px;
    }



}

@media(max-width: 999px) {

    .wrapper {
        width: 93.75%;
    }

    header {
        width: 100%;
        position: fixed;
        z-index: 1000;
    }

    .main__inner {
        padding-top: 82px;
        padding: 0;
    }

    .header__logo-width999px{
        border: none;
        font-size: 0.768rem;
        padding: 0;
    }

    .header__logo-width999px .logo__title {
        font-size: 0.768rem;
        line-height: 0.922rem;
        margin-top: 2.29px;
        margin-bottom: 2.68px;
    }

    .header__logo-width999px .logo__title::before {
        left: 2px;
        top: 9px;
    }

    .header__nav {
        display: none;
    }

    .header__inner {
        justify-content: space-between;
        padding: 0;
    }

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .lined-text__word {
        font-size: 3.4rem;
        line-height: 2.55rem;
    }

    .lined-text::after {
        height: 237.6px;
        width: 237.6px;
        top: -36px;
        right: 53px
    }

    .main__title {
        margin-top: 0;
        padding: 0;
    }

    .main__button {
        display: inline-block;
    }

    .main__button .button {
        margin: -5px 0 40px 0;
    }


    .world {
        margin-top: 60px;
        margin-bottom: 49px;
    }


    .world__image {
        display: none;
    }

    .world__info {
        width: 100%;
    } 

    .world__text {
        width: 81%;
    }

    .info__title {
        margin: 0;
        margin-left: 5px;
        margin-bottom: 20px;
    }

    .info__text {
        margin-bottom: 30px;
    }

    .info__subtitle {
        margin-bottom: 20px;
    }

    .world__info-pic {
        display: block;
        width: 36%;
        height: 476px;
        transform: translate(102px, -55%);
        z-index: -1;
        /* transform: translate(50%); */
    }



    .animals__cards {
        justify-content: center;
        row-gap: 92px;
        column-gap: 30px;
    }

    .animal__card {
        width: 47.5%;
        margin: 0;
    }

    .animal__card-photo {
        height: 284px;
    }

    .animal__card-none {
        display: none;
    }

    .animal__card__footer {
        padding: 6.24px 9.11px 8px 12.47px;
    }

    .animal__card-name {
        font-size: 0.779rem;
        line-height: 1.09rem;
    }

    .animal__card-country {
        font-size: 0.73rem;
        line-height: 0.876rem;
    }

    .animals__button-left {
        left: 285px;
        transform: translate(-100%, -57%);
    }
    
    .animals__button-right {
        right: 285px;
        transform: translate(100%, -57%);
    }

    .animal__card-icon-meat {
        width: 37.41px;
        height: 29.62px;
    }
    .animal__card-icon-banana {
        width: 25.72px;
        height: 28.84px;
    }

    .button-animals {
        margin: 60px 0 100px 0;
    }

    .animals__image-palma {
        width: 29.93%;
        min-height: 202px;
        left: -59px;
    }
    
    .animals__image-strelitsia {
        min-width: 27.34%;
        min-height: 131px;
    }


    .payment {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .wrapper-fullWidth {
        width: 100%;
    }

    .payment__inner {
        padding: 0 20px;
    }

    .description__title {
        margin-top: 10px;
        font-size: 2.625rem;
        line-height: 3.15rem;
    }

    
    .description__text {
        margin-left: 0;
    }

    .payment__subtitle {
        font-size: 1.375rem;
        line-height: 1.65rem;
    }

    .payment__text {
        margin-right: 0;
    }

    .payment-process {
        margin-top: 30px;
    }

    .process__title {
        margin-bottom: 20px;
    }

    .payment__steps {
        justify-content: stretch;
    }

    .payment__step {
        margin-right: 42px;
    }

    .payment__step--arrow::after {
        width: 90px;
        top: -2px;
        right: -13px;
        transform: translate(50%, -50%);
        background: url(../../assets/icons/arrow-width_640px.svg) center center/ contain no-repeat;
        z-index: 10;
    }

    .payment__button {
        margin: 43px 0 60px 0;
    }




    .testi__inner {
        margin-top: 60px;
    }

    
    .review__item-hidden {
        display: none;
    }

    .review__list {
        height: 357px;
        flex-direction: column;
        row-gap: 15px;

        overflow-y: hidden;
    }

    .review__item {
        margin: 0;
        min-width: 100%;
        height: auto;
        min-height: 109px;
        padding: 2px;
    }

    .review__item__inner {
        padding: 11px 15px 7px 10px;
    }

    .review__item--content {
        margin-left: 5px;
    }

    .review__item:nth-child(3) {
        margin-bottom: 0;
    }

    .review__item--text {
        -webkit-line-clamp: 2;
    }

    .testi__bar {
        display: none;
    }

    .testi__button {
        display: block;
        margin: 40px auto 80px auto;
        padding: 16px 55px;
    } 

    .testi__image {
        width: 19.43%;
        bottom: -70px;
        right: -7px;
    }




    .footer__cap {
        padding-top: 10px;
    }



    .footer__inner {
        position: relative;
    } 

    .subscribe {
        display: none;
    }

    .social__list {
        position: absolute;
        top: 12px;
        right: 0;
    }

    .social__item {
        margin-bottom: 20px;
    }

    .social__icon {
        margin-right: 0;
    }
    .social__name {
        display: none;
    } 

    .header__nav-footer {
        display: block;
        margin-left: 0;
    }

    .header__nav-footer .nav__list .nav__list__item .nav__list__item__link {
        margin-right: 37px;
    }

    .header__nav-footer .nav__list:last-child {
        margin-right: 0;
    }

    .footer__info {
        padding-bottom: 12px;
    }

    .footer__button {
        margin: 0 0 67px 0;
    }




}

@media(max-width: 768px) {
    .review__item--text {
        -webkit-line-clamp: 2;
    }

    .testi__bar {
        display: none;
    } 
}

@media(max-width: 639px) {

    .main {
        padding-top: 42px;
        height: 185.55px;
        margin-top: 34.45px;
    }

    .wrapper {
        width: 93.75%;
    }

    .main__inner {
        padding: 0 4px 43.39px 0;
    }

    .lined-text__word {
        font-size: 1.7rem;
        line-height: 1.275rem;
    }

    .lined-text::after {
        width: 119px;
        height: 119px;
        top: -20px;
        right: 24px;
    }

    .main__button {
        display: none;
    }

    #main__button-width320px {
        display: block;
        margin: 0;
        text-align: center;
    }

    .main__button .button {
        margin: 0;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .world {
        margin-top: 0;
        margin-bottom: 20px;
    } 

    .world__text {
        width: 80%;

    }

    .info__title {
        margin-left: 0;
        font-size: 1.5rem;
        line-height: 1.8rem;
        margin-bottom: 10px;
    }

    .info__text {
        margin-bottom: 20px;

    }

    .info__subtitle {
        margin-bottom: 10px;
    } 

    .info__text-second {
        line-height: 1.38rem;
    }

    .world__info-pic {
        width: 32.81%;
        height: 217px;
        transform: none;
        top: -66px;
        right: -73px;
        z-index: -1;
    }


    .animals__cards {
        justify-content: center;
        row-gap: 20px;
    }

    .animal__card__footer {
        padding: 6.24px 9.11px 9px 11.47px;
    }

    .animals__button {
        display: none;
    }

    .button-animals {
        margin: 18px 0 60px 0;
    }

    .animals__image-palma {
        width: 21.4%;
        min-height: 202px;
        left: -11px;
    }

    .animals__image-strelitsia {
        right: -18px;
    }



    

    .payment__text {
        display: none;
    }

    .payment__inner {
        padding: 0;
    }
    .description__title {
        font-size: 1.5rem;
        line-height: 1.8rem;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .description__text {
        text-align: center;
        width: 100%;
    }

    .payment__subtitle {
        font-size: 1.125rem;
        line-height: 1.35rem;
        margin-bottom: 0;
    }

    .payment-process {
        margin-top: 20px;
    }

    .process__title {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    .payment__steps {
        flex-direction: column;
        align-items: center;
        row-gap: 41.61px ;
    } 

    .payment__step {
        margin-right: 0;
    }

    .payment__step-text-320px {
        margin-bottom: -14px;
    }


    .payment__step-image {
        margin-bottom: 10px;
    }

    .payment__step--arrow::after {
        transform: rotate(84deg);
        top: 193px;
        right: -62px;
    }

    .payment__step--arrow-width320px::after {
        top: 187px;
        right: -62px;
    }

    .payment__button {
        margin-top: 38px;
        margin-bottom: 40px;
    }



    .testi__inner {
        margin-top: 30px;
    }

    .testi__title {
        font-size: 1.5rem;
        line-height: 1.8rem;
        margin-bottom: 20px;
    }

    .review__item {
        padding: 2px;
    }

    .review__item__inner {
        padding: 8px 10px 12px 12px
    }

    .review__item--icon {
        margin-right: 5px;
    }
    .testi__button {
        margin: 30px auto 60px auto;
    }

    .testi__image {
        width: 20.43%;
        bottom: -44px;
        right: -10px;
        transform: rotate(344deg);
    }

    .footer__cap {
        justify-content: center;
        padding-top: 18px;
        padding-bottom: 25px;
    }

    .header__logo-footer {
        border: none;
    } 

    .logo__title-footer {
        width: auto;
    }

    .logo__title-footer::before{
        left: 72px;
        top: -4px;
    }


    .social__list {
        display: none;
    }

    .social__list-active360px {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 30px;
        margin-bottom: 30px;    
    }

    .social__item {
        margin-bottom: 0;
    }

    .header__nav-footer {
        display: none;
    }

    
    .footer__button {
        margin-bottom: 30px;
    }

    .footer__disign-info {
        margin-bottom: 32px;
        width: 100%;
        text-align: -webkit-right;
    }

    .footer__info {
        display: block;
    }

    .design-text {
        letter-spacing: -0.4px;
    }

    .design-text-top {
        letter-spacing: -0.4px;
        margin-right: 6px;
    }

    #navwidth320px {
        display: block;
    }

    #navwidth320px .nav__list {
        justify-content: space-around;
    }

    #navwidth320px .nav__list__item__link {
        margin-right: 0;
    }

    
}

@media(max-width: 325px) {

    .world__text {
        width: 100%;
    }
    
}



.review__item-popup {
    position: fixed;
    height: max-content;
    min-width: 50%; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.review__item-popup .review__item--text {
    display: -webkit-box;
    -webkit-line-clamp: 17;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: hidden;
    font-size: 15px;
    color: #767474;
    font-weight: 300;
    line-height: 1.125rem;
}

.review__item-popup .review__cross {
    width: 20px;
    height: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 25px;
    top: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.review__item-popup .review__cross .cross__item {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 3px;
    margin-bottom: 10px;
    background-color: #bdbdbd;
}

.cross__item:first-child{
    transform: rotate(45deg);
}

.cross__item:last-child{
    transform: rotate(-45deg);
}

.review__item-popup .review__cross:hover {
    transform: scale(120%);
}